$ribbons--font-size: 1rem !default;
$ribbons--font-family: null !default;
$ribbons--font-weight: null !default;
$ribbons--text-transform: null !default;
$ribbons--letter-spacing: null !default;
$ribbons--line-height: null !default;
$ribbons--text-align: null !default;
$ribbons--text-decoration: null !default;
$ribbons--margin: null !default;
$ribbons--border-width: null !default;
$ribbons--border-style: null !default;
$ribbons--border-color: null !default;
$ribbons--border-radius: null !default;
$ribbons--color: null !default;
$ribbons--box-shadow: null !default;
$ribbons--background: null !default;
$ribbons--background-color: null !default;
